/* 버튼을 캐릭터 하단에 위치 */
.test-button-wrapper {
  position: absolute;
  /* bottom: 12%; */
  /* z-index: 2; */

  display: flex;
  flex-direction: column;
  align-items: center; /* 버튼 가운데 정렬 */
  gap: 1rem;            /* 버튼 사이 간격 */
}

/* 버튼 스타일 */
.test-button {
  background-color: #1B687D;
  color: white;
  padding: clamp(0.6rem, 2vw, 1rem) clamp(3rem, 8vw, 5rem);
  font-size: clamp(1rem, 3vw, 1.5rem);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  min-width: 220px;
  text-align: center;
}

.test-button:hover {
  background-color: #145061;
}

.test-button:active {
  background-color: #0e3a46;
}